/*------------------------------------*\
  #NAVBAR
\*------------------------------------*/

@import url("https://fonts.googleapis.com/css?family=Varela+Round");

.navbar {
  font-family: "Varela Round", sans-serif;
}

.navbar-nav {
  align-content: center !important;
  float: left !important;
}

.navbar-nav .nav-link {
  color: black !important;
}

.navbar a:hover {
  color: #e43230 !important;
  border-bottom: 1px solid !important;
  border-color: #e43230 !important;
}

.navbar a,
span {
  color: white !important;
  border-bottom: 1px solid !important;
  border-color: white !important;
}
